.Productdata{
    width: 100%;
  }
  .Producttitle{
    font-size: 48px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .Productdesc{
    font-size: 20px;
    color: rgba(0,0,0,0.8);
    margin-top: 0;
    margin-bottom: 16px;
  }
  .sectionhead{
    font-size: 28px;
    margin-bottom: 8px;
  }
  .prodimg{
    width: 100%;
    max-width: 80px;
    border:2px solid transparent;
    border-radius: 8px;
    margin-right: 12px;
    cursor: pointer;
  }
  .selectedimg{
    border:2px solid teal;
  }
  .Featureitem{
    min-width: 80px;
    background-color: gainsboro;
    border-radius: 8px;
    border: 0;
    text-align: center;
    margin-right: 12px;
    cursor: pointer;
    font-weight: 600;
    box-sizing: content-box;
  
    padding: 12px 24px;
  }
  .selecteditem{
    color: white;
    background-color: gray;
  }
  .Primarybutton{
    color: white;
    background-color: teal;
    font-size: 20px;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
    margin-top: 36px;
  }
  