.Productpre{
    width: 100%;
    position: relative;
  
  }
.timesection{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.heartbeatsection{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 48px;
  font-weight: 600;
}
.heartbeatsection > p{
  margin-top: 16px;
  
}

.heartbeatsection > i{
  color: red;
  animation: beat 1s infinite;
}
@keyframes beat {
  0%{
    transform:scale(1,1)
  }
  50%{
    transform: scale(1.2,1.2);
  }
  100%{
    transform: scale(1,1);
  }
}
.Productpre > img{
  width: 100%;
}